<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../../assets/medpic.jpg" alt="" width="256" height="256" class="rounded-circle">
                <p>Hmaidi Mohamed is a 22-year-old engineering student at EMSI Marrakesh with a passion for technology and a strong desire to become a highly skilled full-stack engineer. Mohamed is dedicated to mastering both front-end and back-end development, aiming to contribute to innovative projects and make a significant impact in the tech industry.</p>
            </div>
        </div>

        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>
        </div>
    </div>
</div>